@import url('https://fonts.googleapis.com/css?family=Comic Neue&display=swap');

body {
    font-family: Comic Neue, serif;
    background: linear-gradient(176deg, #3390D6 29%, #D4D42F 58%, rgba(195, 214, 51, 0.31) 100%, #fff 100%);
}

.nav-link {
    color: aquamarine;
}

.navbar-nav .nav-link.active {
    color: rgb(223, 41, 17);    
}

.navbar-brand img {
    width: 40px;
}

.navbar-toggler {
    background-color: gray;
}

.sidebar {
    background: linear-gradient(354deg, #3390D6 29%, #D4D42F 58%, rgba(195, 214, 51, 0.31) 100%, #fff 100%);
}

.card-body {
    background: linear-gradient(354deg, #3390D6 29%, #D4D42F 58%, rgba(195, 214, 51, 0.31) 100%, #fff 100%);
}

.card a {
    text-decoration: none;
}

.slide-text,
.footer-text {
    color: rgb(40, 16, 104);
    margin: auto auto;
}

.footer-text a {
    text-decoration: none;
}

.media-links {
    display:flex;
    justify-content: center;
    align-items: center;
}

.call-anim {
    animation: myAnim 2s ease 0s infinite normal forwards;
}

@keyframes myAnim {
	0%,
	100% {
		transform: translateX(0%);
		transform-origin: 50% 50%;
	}

	15% {
		transform: translateX(-30px) rotate(-6deg);
	}

	30% {
		transform: translateX(15px) rotate(6deg);
	}

	45% {
		transform: translateX(-15px) rotate(-3.6deg);
	}

	60% {
		transform: translateX(9px) rotate(2.4deg);
	}

	75% {
		transform: translateX(-6px) rotate(-1.2deg);
	}
}
